// Colors naming
// https://chir.ag/projects/name-that-color/#6195ED
@black: #000;
@white: #fff;

@alabaster: #fbfbfb;
@alto: #cfcfcf;
@blue: #0631f8;
@dark-blue: #082ac9;
@klein-blue: #0728bf;
@dove-gray: #6b6b6b;
@dusty-gray: #959595;
@mine-shaft: #2d2d2d;
@silver: #c0c0c0;
@wild-sand: #f6f6f6;

// Fonts
@font-primary: 'Source Sans Pro', Helvetica, 'Trebuchet MS', Tahoma, sans-serif;
@font-secondary: 'DM Serif Display', serif;

// Transitions
@anim-slow: 0.3s ease-in-out;
@anim-fast: 0.2s ease-in-out;

// Media queries
@small-max: ~'only screen and (max-width: 599px)';
@small-min: ~'only screen and (min-width: 600px)';

@hover: ~'(hover: hover)';
